.coverflow_container {
	background-color: black
}

.defaultCover {
	background-color: grey;
	height: 192px !important;
}

.albumCover {
	max-width: 270px;
	max-height: 270px;
	height: auto;
	width: auto; 
}