.JukeBoxColumns {
	min-height: 351px;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 846px;
	border-width: 7px;
	border-color: #232f34;
	border-style: solid;
	background-color: black;
}
