.JukePlayListItem {
	font-size: medium;
	list-style-type: none;
	background-color: #4a6572;
	height: 50px;
	border-style: solid;
	border-color: #232f34;
	text-align: center;
}

li.JukePlayListItem:first-child {
	font-weight: bold;
	color: lightgreen;
}

.JukePlayListItem span {
    white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}