.JukeButtonsRow {
    background-color: #344955;
    border-color: #232F34;
    border-width: 7px;
    border-style: solid;
    padding-top: 4px;
    padding-bottom: 11px;
    padding-right: 3px;
    padding-left: 3px;
}