.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-image: url("./albumBackDrop.jpg");
  background-color: #cccccc;
  background-size: cover;
}

.JukeBoxHeader {
  background-image: url("./JukeBoxHeader.png");
  background-size: cover;
  background-position: top;
  width: 1050px;
  height: 290px;
}

.JukeDisplayContainer {
  display: flex;
}

.JukePlayContainer {
  background-color: #344955;
  width: 300px;
  height: 529px;
  border-color: #232f34;
  border-style: solid;
  border-width: 7px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: black;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
